<p id="notice"><%= notice %></p>

<p>
  <b>Fuck:</b>
  <%= @game.fuck %>
</p>

<p>
  <b>Marry:</b>
  <%= @game.marry %>
</p>

<p>
  <b>Kill:</b>
  <%= @game.kill %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
